.title{
    font-size: 3rem;
}

.column-2{
    display: flex;
    justify-content: space-between;
}

.form-group{
    width: 47%;
}

input{
    padding: 1rem 3rem 1rem 1rem;
    background-color: white;
    border: 0.1rem solid #d9d9d9;
    border-radius: 0.5rem;
    display: inline-block;
    width: 100%;
    font-size: 1.4rem;
}



.button-group{
    position: absolute;
    right:5rem;
    margin-top: 3rem;
    .cancel-button{
        margin-right: 3rem;
        width: 9rem;
        height: 4rem;
        border: 0.1rem solid black;
        border-radius: 0.5rem;
        background-color: white;
        color: black;
        font-weight: bold;
        transition: background-color .3s;
        &:hover{
            background-color: #949494;
        }
    }
    .submit-button{
        width: 9rem;
        height: 4rem;
        border: none;
        border-radius: 0.5rem;
        background-color: #518EF8;
        color: white;
        font-weight: bold;
        transition: all .3s;
        &:hover{
            background-color: #196DFE;
            color: #949494;
        }
    }
}

.form-group-des{
    width: 100%;
}